.mainContainer {
  margin: 5vh 10vw;
}

.sectionImageEnd {
  justify-self: flex-end;
}

.sectionImageStart {
  justify-self: flex-start;
}

img {
  border-radius: .5rem
}

main {
  margin-top: 2rem
}

.aboutImg {
  justify-self: end
}

.aboutTheAuthor {
  display: grid;
  grid-template-columns: [first] 50% [line2] 50% [end];
  column-gap: 1.5rem;
}

.educationAndInternships {
  display: grid;
  grid-template-columns: [first] 30% [line2] 70% [end];
  column-gap: 1.5rem;
}

.renaultInternship {
  display: grid;
  grid-template-columns: [first] 60% [line2] 40% [end];
  column-gap: .5rem;
}

.adobeBangalore {
  display: grid;
  grid-template-columns: [first] 45% [line2] 55% [end];
  column-gap: .5rem;
  margin-bottom: 1.25rem;
}

.microsoftPrague {
  display: grid;
  grid-template-columns: [first] 35% [line2] 65% [end];
  column-gap: .5rem;
  margin-bottom: 1.25rem;
}

.drinks {
  display: grid;
  grid-template-columns: [first] 25% [line2] 20% [line3] 40% [end];
  column-gap: 1.5rem;
  margin-bottom: 1.25rem;
}

.articleInContent {
  margin-top: 2.5rem;
}