.mainContainer {
  max-width: 640px;
  margin: 2rem auto;
  width: 100%;
  padding: 0 1rem;
  text-align: justify;
}

.sectionContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.sectionImage {
  flex-grow: 1;
  object-fit: contain;
  align-self: start;
  min-width: 0;
}

img {
  border-radius: 1%;
}

.sectionPortraitImage, .sectionSmallerContent {
  flex-basis: 410px;
}

.sectionLandscapeImage, .sectionLargerContent {
  flex-basis: 550px;
}

.sectionContent {
  flex-grow: 1;
}

@media (min-width: 1020px) {
  .mainContainer {
    max-width: 1280px;
  }

  .articleInContent {
    margin-bottom: 2.5rem;
  }

  .educationAndInternshipsImage, .softwareEngineeringMicrosoftImage {
    order: 1;
  }
}

@media (min-width: 1020px) and (max-width: 1279px) {
  .hobbiesContent {
    flex-basis: 980px;
  }

  .hobbiesMargaritaImage, .hobbiesCapuccinoImage {
    order: 1;
  }
}

@media (min-width: 1280px) {
  .hobbiesContent, .hobbiesMargaritaImage, .hobbiesCapuccinoImage {
    flex-basis: 400px;
  }
}
